html,body{
  height: 100%;
}
body{
  background-image: url('../images/First/1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container{
  margin-top: 25%;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
}
img{
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
}
ul li{
  text-decoration: none;
}
