<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>当当网热搜和博客</title>
    <link rel="stylesheet" href="asserts/lib/weui/weui.min.css">
    <style>
    .weui-tabbar__label{
      margin-left: 20px;
    }
    </style>
</head>

<body>
    <div ng-app="app">
        <div class="page__bd">
            <div ng-view></div>
            <div class="weui-tabbar" ng-controller='mainController'>
                <a href="#/" ng-click='linkTo(0)' class="weui-tabbar__item {{selectedIndex==0?'weui-bar__item_on':''}}">
                    <img src="./asserts/img/wo1.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">首页</p>
                </a>
                <a href="#/dangdang" ng-click='linkTo(1)' class="weui-tabbar__item {{selectedIndex==1?'weui-bar__item_on':''}}">
                    <img src="./asserts/img/dangdang.jpg" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">当当网热搜</p>
                </a>
                <a href="#/boke" ng-click='linkTo(2)' class="weui-tabbar__item {{selectedIndex==2?'weui-bar__item_on':''}}">
                    <img src="./asserts/img/boke.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">我的博客</p>
                </a>
                <a href="#/tianqi" ng-click='linkTo(3)' class="weui-tabbar__item {{selectedIndex==3?'weui-bar__item_on':''}}">
                    <img src="./asserts/img/tianqi.jpg" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">天气查询</p>
                </a>
            </div>
        </div>
    </div>
    <script src="asserts/lib/jquery.min.js"></script>
    <script src="asserts/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="asserts/lib/template.js"></script>
    <script src="asserts/lib/angular/angular.min.js"></script>
    <script src="asserts/lib/angular/angular-route.min.js"></script>
    <script src="asserts/app.js"></script>
    <script src="asserts/controllers/bookController.js"></script>
    <script src="asserts/controllers/bookListController.js"></script>
    <script src="asserts/api/service.js"></script>
    <!-- <script src="asserts/controllers/mainController.js"></script> -->
</body>

</html>
